# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
*.egg-info/
venv/
env/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# Environment
.env
*.log

# Docker
*.tar