trigger:
  branches:
    include:
      - main

pool:
  name: 'Default'

variables:
  imageName: 'qashqade-app'
  imageTag: '$(Build.BuildId)'
  acrLoginServer: 'acrqashqade.azurecr.io'

stages:
  - stage: Test
    displayName: 'Run Tests'
    jobs:
      - job: RunTests
        displayName: 'Execute Unit Tests'
        steps:
          - script: |
              python3 --version
              pip3 install -r app/requirements.txt
            displayName: 'Install Dependencies'

          - script: |
              pytest tests/ -v --junitxml=test-results.xml
            displayName: 'Run Unit Tests'

          - task: PublishTestResults@2
            condition: always()
            inputs:
              testResultsFiles: 'test-results.xml'
              testRunTitle: 'Unit Tests'
            displayName: 'Publish Test Results'

  - stage: Build
    displayName: 'Build and Push Docker Image'
    dependsOn: Test
    condition: succeeded()
    jobs:
      - job: BuildAndPush
        displayName: 'Build and Push to ACR'
        steps:
          - task: Docker@2
            displayName: 'Login to ACR'
            inputs:
              command: login
              containerRegistry: 'acr-connection'

          - task: Docker@2
            displayName: 'Build Docker Image'
            inputs:
              command: build
              repository: $(imageName)
              dockerfile: 'Dockerfile'
              tags: |
                $(imageTag)
                latest

          - task: Docker@2
            displayName: 'Push to ACR'
            inputs:
              command: push
              containerRegistry: 'acr-connection'
              repository: $(imageName)
              tags: |
                $(imageTag)
                latest

  - stage: Deploy
    displayName: 'Deploy to AKS'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: DeployToAKS
        displayName: 'Deploy Application to AKS'
        steps:
          - task: Kubernetes@1
            displayName: 'kubectl apply manifests'
            inputs:
              connectionType: 'Kubernetes Service Connection'
              kubernetesServiceEndpoint: 'aks-connection'
              namespace: 'default'
              command: 'apply'
              arguments: '-f k8s/'

          - task: Kubernetes@1
            displayName: 'Update Image Tag'
            inputs:
              connectionType: 'Kubernetes Service Connection'
              kubernetesServiceEndpoint: 'aks-connection'
              namespace: 'default'
              command: 'set'
              arguments: 'image deployment/qashqade-app qashqade-app=$(acrLoginServer)/$(imageName):$(imageTag)'